body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f9;
}

/* GLASS NAVBAR */
.glass-nav {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);
}

.navbar-brand, .nav-link {
  color: #000 !important;
  font-weight: 500;
}

.nav-link.active {
  border-bottom: 2px solid #0d6efd;
}


/* HERO SECTION */
.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("https://images.unsplash.com/photo-1529070538774-1843cb3265df");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 600;
}

/* CARDS */
.card {
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
